<p><a href='/bright_ideas'>Bright Ideas</a></p>
<p>Name: <%=@user.name %></p>
<p>Alias: <%=@user.alias %></p>
<p>Email: <%=@user.email %></p>
<hr />
</br>
<p>Total number of Posts:<%=Idea.where(user_id: @user.id).count%></p>
<p>Total number of Likes:<%=Like.where(user_id: @user.id).count%></p>
